bin/Debug/netcoreapp2.1/Tax calculator.dll
bin/Debug/netcoreapp2.1/Tax calculator.pdb
obj/Debug/netcoreapp2.1/Tax calculator.Views.pdb
bin/Debug/netcoreapp2.1/Tax calculator.dll
bin/Debug/netcoreapp2.1/Tax calculator.pdb
bin/Debug/netcoreapp2.1/Tax calculator.Views.dll
bin/Debug/netcoreapp2.1/Tax calculator.Views.pdb
obj/Debug/netcoreapp2.1/Tax calculator.dll
obj/Debug/netcoreapp2.1/Tax calculator.pdb
obj/Debug/netcoreapp2.1/Tax calculator.Views.dll
obj/Debug/netcoreapp2.1/Tax calculator.assets.cache
obj/Debug/netcoreapp2.1/Tax calculator.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/Tax calculator.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/Tax calculator.csprojAssemblyReference.cache
